	
<div class="container be-white">

<li  style="font-family: 'Montserrat', sans-serif;"><h1>Welcome!</h1></li>
		<br>
		<br>
		<p>This is a simple app <br>You can search or add a new property </p>
		
		<li style="border: 1px solid white; padding: 3px;"><h2><%= link_to 'Add a new property', new_property_path %></h2></li>
		<br>
		<br>
		<p>Also <br>Here you can see all the properties</p>
		<li style="border: 1px solid white; padding: 3px;"><h2><%= link_to "See the properties", Property %></h2></li>
</div>
	

