
<div class="container">
	<li class="be-white"><h1>Editing property</h1></li>

<%= render 'form' %>
<button type="button" class="btn btn-default"><%= link_to 'Show', @property %> </button>

<button type="button" class="btn btn-default"><%= link_to 'Back', properties_path %></button>

</div>

